<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="css/style.css"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <title> Mercado Liebre</title>


</head>
<body>
   <header>
       <img src="images/logo-mercado-liebre.svg"alt="logo-mercado-liebre"></img>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>

    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
        <br>
        
        <li>Creá tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>
</header>

<main> 

    <section>
        <h3>Basado en tu última visita</h3>
        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
        <p class="precio">$6.770</p>
        <p class="descuento">40% off</p>
        <p class="producto">Cafetera moulinex</p>
        
        <img src="images/img-macbook-pro-2019.jpg" alt="Macbook">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="producto">Macbook Pro 2019</p>

            <img src="images/img-samsung-galaxy-s10.jpg" alt="Galaxy">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="producto">Samsung Galaxy S10</p>

            <img src="images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="producto">SmarTv Samsung 43</p>
    </section>

    <section>
        <h3>Sección de Ofertas</h3>
            <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera">
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <p class="producto">Cafetera moulinex</p>

            <img src="images/img-macbook-pro-2019.jpg" alt="Macbook">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="producto">MacBook Pro 2019</p>
                
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Celular">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="producto">Samsung Galaxy S10</p>
                
                <img src="images/img-tv-samsung-smart.jpg" alt="TV">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="producto">SmartTv samsung 43</p>
            </section>
</main>
<footer>
    <section>
        <p class="Negrita">Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        
        <p class="Negrita">Envío gratis desde $ 2.500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        
        <p class="Negrita">Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        
        <p class="Negrita">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>        
            
            
    
</body>
</html>