
body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;;
}
h3{
    font-size: 24px;
}
.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
}

.producto{
    font-size: 16px;
}

.Negrita{
    font-weight: bold;
}